streamlit>=1.20
spacy>=3.4; python_version >= "3.8"
# If you want Streamlit to auto-install the spaCy small model on deploy, you can include a direct model wheel link:
# (comment/uncomment the appropriate model version below depending on spacy version compatibility)
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
